ol {
	margin: 0;
	padding: 0;
}
ol li {
	border-top: 1px solid #000;
	list-style: none;
}
ol li div {
	padding: 2px 0;
}
ol > li {
	text-indent: 0px;;
}
ol > li li div { padding-left: 20px; }
ol > li li li div { padding-left: 40px; }
ol > li li li li div { padding-left: 60px; }
ol > li li li li li div { padding-left: 80px; }
ol > li li li li li li div { padding-left: 100px; }
li.placeholder {
    height: 20px;
    background: red;
}
