.tree {
	/*width: 240px;*/
	height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
}
.ui-sortable-helper {
	width: 200px;
	border: 1px solid #000;
	background: #fff;
	cursor: pointer;
}
ol {
	margin: 0;
	padding: 0;
}
ol li {
	border-top: 1px solid #eee;
	list-style: none;
}
ol li div {
	padding: .3em 0;
	border-top: 1px solid #555;
	position: relative;
	top: -1px;
	background: #fff;
}

ol > li.placeholder.ui-nestedSortable-error { margin-left: 0px; }

ol > li li.placeholder,
ol > li li li li.placeholder.ui-nestedSortable-error,
ol > li li div { margin-left: 35px; }

ol > li li li.placeholder,
ol > li li li li.placeholder.ui-nestedSortable-error,
ol > li li li div { margin-left: 70px; }

ol > li li li li.placeholder,
ol > li li li li li.placeholder.ui-nestedSortable-error,
ol > li li li li div { margin-left: 105px; }

ol > li li li li li.placeholder,
ol > li li li li li li.placeholder.ui-nestedSortable-error,
ol > li li li li li div { margin-left: 140px; }

ol > li li li li li li.placeholder,
ol > li li li li li li li.placeholder.ui-nestedSortable-error,
ol > li li li li li li div { margin-left: 175px; }

ol > li li li.placeholder.ui-nestedSortable-error {
	margin-left: 30px;
}
ol > li li li li.placeholder.ui-nestedSortable-error {
	margin-left: 60px;
}

ol li.placeholder { background: #eee; }

/*ol li li.placeholder { background: green; }
ol li li li.placeholder { background: yellow; }
ol li li li li.placeholder { background: pink;*/ }

/*.placeholder {
			background-color: #cfcfcf;
		}

		.ui-nestedSortable-error {
			background:#fbe3e4;
			color:#8a1f11;
		}

		ol {
			margin: 0;
			padding: 0;
			padding-left: 30px;
		}

		ol.sortable, ol.sortable ol {
			margin: 0 0 0 25px;
			padding: 0;
			list-style-type: none;
		}

		ol.sortable {
			margin: 4em 0;
		}

		.sortable li {
			margin: 7px 0 0 0;
			padding: 0;
		}

		.sortable li div  {
			border: 1px solid black;
			padding: 3px;
			margin: 0;
			cursor: move;
		}*/

